/*  card img styles */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(98, 44, 214);
}

.wrapper {
    height: 400px;
    width: 400px;
    background: #f8f8f8;
    border-radius: 10px;
}

.cards, .card, .view{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

.cards .card{
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px)
}

.card .back-view img{
    max-width: 45px;
}


