/*  card img styles */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(98, 44, 214);
}

.wrapper {
    height: 400px;
    width: 400px;
    padding: 25px;
    background: #f8f8f8;
    border-radius: 10px;
}

.cards, .card, .view{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cards .card{
    cursor: pointer;
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}
.cards .card .view{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
}
.card .front-view span{
    color: rgb(98, 44, 214);
    font-size: 40px;
}
.card .back-view {
    transform: rotateY(-180deg);
}
.card .back-view img{
    max-width: 45px;
}
.card:hover .back-view {
    transform: rotateY(0);
}



